.gitignore
.envExample
.gitlab-ci.yml
.pre-commit-config.yaml
sonar-project.properties

pyproject.toml
poetry.lock
pytest.ini
setup.cfg
venv
.venv
db.sqlite3
**/__pycache__
**/migrations/*
!**/migrations/__init__.py

publish.sh
dist_command.sh
